<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            height: 1000px;                                         /* container ni height set keri*/
            width: 1000px;                                          /* container ni width set keri */
            display: grid;
            grid-template-columns: 200px 200px 200px 200px ;        /* container ma collum no overview set keyro. , 200 px ni 4 collumn */
            grid-template-rows: 200px 200px 200px 200px 200px;      /* container ma row no overview set keri didho , 200 px ni 5 row*/
            /* grid-template-colums : 1fr 1fr 1fr 1fr ;             /* fr -> fraction  , matlva ke 4 column ee container ma equal space ma gothvai jase*/ 
            /* grud-template-rows : 1fr 1fr 1fr 1fr 1fr ;           /* 5 rows container ma equal space ma gothvai jase.*/
            gap: 50px;                                              /* aa rows,collumn banne mate lagu pade */
        }
        
        .item{
            background-color: yellow;
        }
    </style>
</head>
<body>

    <div class="container">                        
        <div class="item"></div>            <!-- aa badhi item che ee grid ma pella first row puri kerse pachi next row ma jase.-->
        <div class="item"></div>                    
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>
    
</body>
</html>
